<div class="backnav"></div>
<nav>
<a href="/">Home</a>
  <a href="/path/about/page">About</a>
  <a href="/path/share/page">Share</a>
  <a href="/path/propositions/page">Proposition</a>
  <a href="/path/contact/page">Contact</a>
</nav>

<!-- Unsplash copyright -->
