<div class="containerbanner"> 
<div class="row">
<div class="col-lg-12">
<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  
</div>





<h1 class="scott1"><strong>Welcome to Famefitz!</h1></strong>
<h2 class="scott3">Over <strong>+100 Instagram Outifts</strong>, simple and fast<br> 





<div class="newbutton">
<div class="button_container">
	<p class="description">Get startet!</p>
	<a href="/celebs"><button class="btnhome"><span>Search Fitz</span></button></a>
  <!--<p class="link">
    Design by 
    <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
  </p>-->
</div>
</div>





<h1 class="scott2">How does it work and why you need it?</h1>

<div class="containermockup"> 
    <div class="row">
        <div class="col-lg-6" >
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832141/046377FB-8CBE-4E07-ADA2-5F41A472B1FB_iphonexspacegrey_portrait_zbue8s.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6" >
            <div class="travis">
                <h2 class="scott">Every Day new Updates</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>



   <div class="row" >
        <div class="col-lg-6">
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832218/6B03B926-0F26-4E8D-9DCC-FBCDF00F5F81_iphonexspacegrey_portrait_hegcyw.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6">
            <div class="travis">
                <h2 class="scott">Links To The Shops</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-lg-6">
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832299/D7B73C5D-331E-4B59-9C8D-E6B01E893016_iphonexspacegrey_portrait_dbdvau.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6">
            <div class="travis">
                <h2 class="scott">Send Us Your Proposition</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>

<h1 class="h1-under">Some of our popular Fits<h1>

 <div class="containercaru">
        <div class="title">
        </div>
        
        <div class="section" id="carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">

                    <!-- Carousel Card -->
                    <div class="card card-raised card-carousel">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active" id="homeimg">
                              <img id="caru" class="d-block w-100" src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                <h4>
                                    
                                    Yellowstone National Park, United States
                                </h4>
                              </div>
                            </div>
                            <div class="carousel-item" id="homeimg">
                              <img id="caru" class="d-block w-100" src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg2.jpg"  alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                <h4>
                                    
                                    Somewhere Beyond, United States
                                </h4>
                              </div>
                            </div>
                            <div class="carousel-item" id="homeimg">
                              <img id="caru" class="d-block w-100" src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg3.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                <h4>
                                    
                                    Yellowstone National Park, United States
                                </h4>
                              </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                           
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                    <!-- End Carousel Card -->

                </div>
            </div>
        </div>
    </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
     
     









    